<h1>Runlog <%= @runlogs.first.run_count %></h1>
<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>緯度</th>
      <th>経度</th>
    </tr>
  </thead>
  <tbody>
    <% @runlogs.each do |runlog| %>
      <tr>
        <td><%= runlog.run_at %></td>
        <td><%= runlog.latitude %></td>
        <td><%= runlog.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
